apiVersion: apps/v1
kind: Deployment
metadata:
  name: cricket-nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cricket-nginx
  template:
    metadata:
      labels:
        app: cricket-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
      volumes:
        - name: nginx-config
          configMap:
            name: nginx-config
